version: "3"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db-express-apis-jwt
    environment:
      POSTGRES_USER: project-apis-express-jwt
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
