version: "3.8" # Define a versão da especificação.

services:
  api:
    build: . # Indica que o Docker deve procurar um 'Dockerfile' na pasta atual
    container_name: api-express-jwt-app # Nome do container para achar no terminal
    ports:
      - "8080:8080" # [PORTA NA SUA MÁQUINA] : [PORTA DENTRO DO CONTAINER]
    environment:
      # O PONTO MAIS IMPORTANTE:
      # No Docker, um container chama o outro pelo NOME DO SERVIÇO.
      # Por isso usamos '@postgres:5432' e não '@localhost:5432'.
      - DATABASE_URL=postgresql://project-apis-express-jwt:secret@postgres:5432/app
      - JWT_SECRET_KEY=TESTE1
      - JWT_REFRESH_SECRET=TESTE2
    depends_on:
      - postgres # Garante que o container do banco INICIE antes da API.

  postgres:
    image: postgres:15 # Em vez de um Dockerfile, baixa uma imagem pronta do Docker Hub.
    container_name: postgres-db-express-apis-jwt
    environment:
      POSTGRES_USER: project-apis-express-jwt
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    ports:
      - "5432:5432" # Expor esta porta permite usar o DBeaver da vida no meu pc.
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Se eu não fizer isso, quando o container for deletado, 
      # todos os seus usuários e senhas cadastrados sumirão!
      # O volume mapeia uma pasta do seu PC para o do Postgres.
volumes:
  postgres_data:
