version: "3.8"

services:
  api:
    build: .
    container_name: api-express-jwt-app
    ports:
      - "8080:8080"
    environment:
      # Note que usamos 'postgres' no lugar de 'localhost'
      - DATABASE_URL=postgresql://project-apis-express-jwt:secret@postgres:5432/app
      - JWT_SECRET_KEY=TESTE1
      - JWT_REFRESH_SECRET=TESTE2
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres-db-express-apis-jwt
    environment:
      POSTGRES_USER: project-apis-express-jwt
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
